
body{
    background-color: black;
        background-size: cover;
}
.main-cont{
    
    background-image: url(photos/code5r.jpg);
    background-size: cover;
    margin:50px;
    margin-bottom: 60px;
    border-radius: 25px;
    padding: 2px;
    color: black;
}
.image{
    
    text-align: center;
    
}
.img{
    text-align: center;
    border-radius: 30px;
    margin: 20px;
    box-shadow: black 2px 2px 2px 2px;
    
}
.title > h1{
    
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color: cornsilk;
}
.Subtitle > h3{
    font-family: 'Text Me One', sans-serif;
    text-align: center;
    font-size: 2em;
    color: cornsilk;
}
.flex-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills{
    font-family: 'Kodchasan', sans-serif;
    font-size: 1.5em;
    padding-left: 35px;
    padding-right: 20px;
    font-weight: bold;
    color: rgb(197, 237, 255);
}
.skill-cont{
    background-image: url(photos/code3r.jpg);
    background-size: cover;
    color: white;
    border-radius: 25px;
    padding-right:50px ;
    padding-left: 50px ;
    margin-right: 40px;
    margin-left: 25px;
    margin-bottom: 30px;
}
.edu-cont{
    margin-left: 10px;
    margin-right: 30px;
    background-image: url(photos/educationr.jpg);
    background-size: cover;
    color: white;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
}
.skill-list{
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    text-shadow: black 2px 2px;
    font-size: 1.5em;
    padding-right: 150px;
    padding-left: 60px;
}
.education{
    padding-left: 60px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 249, 197);
}
.edu-list{
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-left:90px ;
    padding-right:90px ;
    line-height: 45px;
    text-shadow: black 2px 2px;
    
}
.find{
    font-family: 'Kodchasan', sans-serif;
    font-size:2em ;
    font-weight: bolder;
    text-shadow: grey 1px 1px;
    padding-top: 10px;
    margin-top: 10px;
}
 
.links{
    font-family: 'Kodchasan', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.links > a{
    text-align: center;
    padding: 10px 20px;
    margin:0px 10px ;
    text-decoration: none;
    font-family: 'Text Me One', sans-serif;
    font-weight: bolder;
}
.contacts{
    margin: 30px 40px;
    text-align: center;
    background-image: url(photos/contact3r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lavenderblush;
    border-radius: 30px;
}
.github{
    background-color: rgb(8, 50, 187);
    border-radius: 30px;
    padding: 10px;
    color: white;
    text-shadow: brown 2px 2px;
}
.telegram{
    background-color: blueviolet;
    border-radius: 30px;
    padding: 10px;
    color: white;
}
.discord{
    background-color: slategray;
    border-radius: 30px;
    padding: 10px;
    color: white;
}
.linkedin{
    background-color: midnightblue;
    border-radius: 30px;
    padding: 10px;
    color: white;
}
.mail{
    font-family: 'Text Me One', sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
    color: ivory;
    text-shadow: black 2px 2px;
    padding-bottom: 20px;
    padding-top: 10px;
}
a:hover{
    background-color: black;
}